.card {
  background-color: #f5f6f9;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  opacity: 0.4;

  width: 100%;
  height: 72px;
  margin-bottom: 16px;
}

.cardIsOpen {
  opacity: 1;
}

.infoWrapper {
  flex: 1;
  padding: 11px 12px;
}

.title {
  font-size: 16px;

  margin-bottom: 4px;
}

.metadataWrapper {
  display: flex;
}

.metadataItem {
  display: flex;
  align-items: center;
}

.metadataItem img {
  margin-right: 5px;
}

.deliveryFree {
  font-size: 14px;
  color: #027a7a;
}

.delivery {
  font-size: 14px;
  color: #7b1fa2;
}

.rating {
  font-size: 14px;
  color: #6d6f73;
}
