.header {
  background-color: #7b1fa2;
  padding: 16px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flexWrapper {
  display: flex;
  align-items: center;
}

.addressWapper {
  margin: 0 auto 0 24px;
}

.locationIcon {
  margin-right: 10px;
}

.addressLabel {
  font-size: 14px;
  color: #eecffc;
}

.addressValue {
  font-size: 16px;
  color: #ffffff;

  margin-right: 9px;
}
